$navbar-height: 50px;
$logo-width: 110px;
$logo-border: 20px;

.container {
	@include outer-container;
	background: $color-nav-bg;
	position: relative;
	z-index: 2;
}

.global-header {
	position: relative;
	width: 100%;

	.logo-wrap {
		@include margin(0 $logo-border 0 0);
		float: left;

		&::before {
			background: $color-red;

			@include media(1145px) {
				@include position(absolute, 0 null null null);
				@include size($logo-width $navbar-height);
				content: "";
				display: block;
				transform: skew(-25deg, 0);
			}
		}

		&::after {
			@include size(($logo-width + $logo-border) $navbar-height);
			@include position(absolute, 0 null null (-(($logo-border / 2) + 1)));
			background: $color-red--dark;
			content: "";
			display: block;
			position: absolute;
			transform: skew(-25deg, 0);
			z-index: -1;
		}

		a {
			@include size($logo-width $navbar-height);
			background-image: url("../img/logo.svg");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 82px $logo-border;
			color: transparent;
			display: block;
			font-size: 0;
			line-height: 0;
			position: relative;
			text-shadow: none;
		}
	}
}

nav.global-nav {
	@include clearfix;
	backface-visibility: hidden;
	background: $color-nav-bg;
	float: left;
	height: $navbar-height;
	overflow: visible;
	transition: all .25s ease-in-out;
	// 150px = $logo-width + ($logo-border * 2)
	width: calc(100% - 150px);
	z-index: 1;

	ul {
		@include clearfix;
		display: block;
		font-size: 16px;
		list-style-type: none;
		margin: 0;
		padding: 0 0 0 $logo-border;

		&.focused {
			li {
				>a {
					color: $color-nav-focused;
				}

				&.hover {
					>a {
						color: $color-white;
					}
				}
			}
		}

		li {
			display: inline-block;
			line-height: $navbar-height;
			list-style-type: none;
			text-align: center;

			&.pillar {
				float: right;
			}

			a {
				@include padding(0 ($logo-border / 2));
				color: $color-white;
				cursor: pointer;
				display: block;
				outline: none;
				position: relative;
				text-decoration: none;
				transition: all .25s ease-in-out;
			}
		}
	}
}


.focused {
	a {
		color: $color-nav-focused;
	}

	li.hover>a {
		color: $color-white;
	}
}